@charset "UTF-8";
/*
    Maxtraining

    author: Matheuspsantos
    links: https://githhub.com/matheuspsantos

    2018-2019
*/
/*
    Imports
    Importando o Reset.css e o Grid.css para trabalhar o reset da página e o grid
*/
/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  /*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block; }

b,
strong {
  /*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  /*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic; }

ol,
ul {
  list-style: none; }

li {
  /*
  For IE6 + IE7:

  "display: list-item" keeps bullets from
  disappearing if hasLayout is triggered.
*/
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  /*
  For IE9. Without, occasionally draws shapes
  outside the boundaries of <svg> rectangle.
*/
  overflow: hidden; }

/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/
/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/
body {
  min-width: 960px; }

/* Container
----------------------------------------------------------------------------------------------------*/
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px; }

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15,
.push_16, .pull_16 {
  position: relative; }

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

/* Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .grid_1 {
  width: 40px; }

.container_16 .grid_2 {
  width: 100px; }

.container_16 .grid_3 {
  width: 160px; }

.container_16 .grid_4 {
  width: 220px; }

.container_16 .grid_5 {
  width: 280px; }

.container_16 .grid_6 {
  width: 340px; }

.container_16 .grid_7 {
  width: 400px; }

.container_16 .grid_8 {
  width: 460px; }

.container_16 .grid_9 {
  width: 520px; }

.container_16 .grid_10 {
  width: 580px; }

.container_16 .grid_11 {
  width: 640px; }

.container_16 .grid_12 {
  width: 700px; }

.container_16 .grid_13 {
  width: 760px; }

.container_16 .grid_14 {
  width: 820px; }

.container_16 .grid_15 {
  width: 880px; }

.container_16 .grid_16 {
  width: 940px; }

/* Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .prefix_1 {
  padding-left: 60px; }

.container_16 .prefix_2 {
  padding-left: 120px; }

.container_16 .prefix_3 {
  padding-left: 180px; }

.container_16 .prefix_4 {
  padding-left: 240px; }

.container_16 .prefix_5 {
  padding-left: 300px; }

.container_16 .prefix_6 {
  padding-left: 360px; }

.container_16 .prefix_7 {
  padding-left: 420px; }

.container_16 .prefix_8 {
  padding-left: 480px; }

.container_16 .prefix_9 {
  padding-left: 540px; }

.container_16 .prefix_10 {
  padding-left: 600px; }

.container_16 .prefix_11 {
  padding-left: 660px; }

.container_16 .prefix_12 {
  padding-left: 720px; }

.container_16 .prefix_13 {
  padding-left: 780px; }

.container_16 .prefix_14 {
  padding-left: 840px; }

.container_16 .prefix_15 {
  padding-left: 900px; }

/* Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .suffix_1 {
  padding-right: 60px; }

.container_16 .suffix_2 {
  padding-right: 120px; }

.container_16 .suffix_3 {
  padding-right: 180px; }

.container_16 .suffix_4 {
  padding-right: 240px; }

.container_16 .suffix_5 {
  padding-right: 300px; }

.container_16 .suffix_6 {
  padding-right: 360px; }

.container_16 .suffix_7 {
  padding-right: 420px; }

.container_16 .suffix_8 {
  padding-right: 480px; }

.container_16 .suffix_9 {
  padding-right: 540px; }

.container_16 .suffix_10 {
  padding-right: 600px; }

.container_16 .suffix_11 {
  padding-right: 660px; }

.container_16 .suffix_12 {
  padding-right: 720px; }

.container_16 .suffix_13 {
  padding-right: 780px; }

.container_16 .suffix_14 {
  padding-right: 840px; }

.container_16 .suffix_15 {
  padding-right: 900px; }

/* Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .push_1 {
  left: 60px; }

.container_16 .push_2 {
  left: 120px; }

.container_16 .push_3 {
  left: 180px; }

.container_16 .push_4 {
  left: 240px; }

.container_16 .push_5 {
  left: 300px; }

.container_16 .push_6 {
  left: 360px; }

.container_16 .push_7 {
  left: 420px; }

.container_16 .push_8 {
  left: 480px; }

.container_16 .push_9 {
  left: 540px; }

.container_16 .push_10 {
  left: 600px; }

.container_16 .push_11 {
  left: 660px; }

.container_16 .push_12 {
  left: 720px; }

.container_16 .push_13 {
  left: 780px; }

.container_16 .push_14 {
  left: 840px; }

.container_16 .push_15 {
  left: 900px; }

/* Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .pull_1 {
  left: -60px; }

.container_16 .pull_2 {
  left: -120px; }

.container_16 .pull_3 {
  left: -180px; }

.container_16 .pull_4 {
  left: -240px; }

.container_16 .pull_5 {
  left: -300px; }

.container_16 .pull_6 {
  left: -360px; }

.container_16 .pull_7 {
  left: -420px; }

.container_16 .pull_8 {
  left: -480px; }

.container_16 .pull_9 {
  left: -540px; }

.container_16 .pull_10 {
  left: -600px; }

.container_16 .pull_11 {
  left: -660px; }

.container_16 .pull_12 {
  left: -720px; }

.container_16 .pull_13 {
  left: -780px; }

.container_16 .pull_14 {
  left: -840px; }

.container_16 .pull_15 {
  left: -900px; }

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after,
.container_16:before,
.container_16:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.clearfix:after,
.container_16:after {
  clear: both; }

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix,
.container_16 {
  zoom: 1; }

/*
    Configurção de fontes
*/
@font-face {
  font-family: "Unica One";
  font-style: normal;
  src: local("Unica One"), url("../fonts/Unica_One/UnicaOne-Regular.ttf") format("ttf"); }

/*
    Estilização geral
*/
body {
  font-family: Unica One; }

p {
  font-family: Unica One, sans-serif; }

img {
  display: block;
  max-width: 100%; }

/*
*   Estilização da Página Web
*   Os comentários irão separar as seções
*/
/*  Cabeçalho HEADER
*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 5px 0; }
  .header img {
    margin-top: 20px; }
  .header label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    width: 30px;
    float: right;
    display: none; }
  .header #toogle {
    display: none; }

.header_menu {
  text-align: right; }
  .header_menu ul {
    margin-top: 60px; }
    .header_menu ul li {
      clear: right;
      display: inline-block;
      margin: 0 5px; }
    .header_menu ul li a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 24px;
      transition: all ease-in-out 0.2s; }
    .header_menu ul li a:hover {
      color: #00b51e; }

/*  INTRODUÇÃO DO SITE
*/
.max_inicio {
  width: 100%;
  height: 700px;
  background-image: url("../img/bg-inicio.png");
  background-size: cover;
  text-align: center; }
  .max_inicio i {
    color: #00b51e;
    font-style: normal; }
  .max_inicio #max_inicio_texto {
    margin-top: 340px; }
  .max_inicio #max_hashtag {
    position: relative;
    width: 150px;
    left: 405px;
    top: 30px;
    margin: 5px 5px; }
    .max_inicio #max_hashtag p {
      text-align: center;
      font-size: 16px;
      font-family: sans-serif;
      text-transform: uppercase;
      padding: 5px 2px;
      border: 2px solid #00b51e;
      transition: all ease-in-out 0.3s; }
      .max_inicio #max_hashtag p a {
        text-decoration: none;
        color: #fff; }
    .max_inicio #max_hashtag p:hover {
      background-color: #00b51e;
      border: 2px solid #fff; }
  .max_inicio h2 {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    margin: 10px; }
  .max_inicio p {
    margin: 10px;
    font-size: 24px;
    color: #fff; }

/* SOBRE
*/
.max_sobre {
  width: 100%;
  height: 600px;
  background-image: url("../img/bg-sobre.png");
  background-size: cover; }
  .max_sobre i {
    color: #00b51e;
    font-style: normal; }
  .max_sobre #max_sobre_texto {
    margin-top: 50px;
    text-align: center; }
    .max_sobre #max_sobre_texto h2 {
      font-size: 28px;
      font-weight: 500;
      color: #fff;
      margin: 10px; }
  .max_sobre #max_sobre_boxes {
    margin-top: 120px;
    color: #00b51e;
    font-size: 18px;
    text-align: center;
    padding-left: 20px; }
    .max_sobre #max_sobre_boxes .sobre_boxes {
      border: solid 5px #00b51e;
      height: 300px;
      margin: 5px;
      background-color: rgba(0, 0, 0, 0.4); }
      .max_sobre #max_sobre_boxes .sobre_boxes img {
        margin-left: 90px;
        margin-top: 20px;
        margin-bottom: 20px; }
      .max_sobre #max_sobre_boxes .sobre_boxes p {
        font-size: 24px;
        margin-top: 20px; }
      .max_sobre #max_sobre_boxes .sobre_boxes .box_texto {
        font-size: 18px;
        margin-top: 20px;
        color: #fff; }

/*
    MISSÃO, VISÃO, VALORES
*/
.max_vmv {
  width: 100%;
  height: 900px;
  background-color: black; }
  .max_vmv #visao {
    height: 300px;
    display: flex;
    flex: auto;
    background-image: url("../img/visao.png");
    background-size: cover;
    background-position: center; }
    .max_vmv #visao h3 {
      font-size: 28px;
      color: #fff;
      text-align: center;
      font-weight: 500;
      margin-top: 60px; }
    .max_vmv #visao p {
      font-size: 24px;
      color: #37f256;
      text-align: center;
      margin-top: 40px;
      text-transform: uppercase; }
    .max_vmv #visao .max_vmv_logo {
      width: 70px;
      height: 35px;
      margin-top: 20px;
      margin-left: 190px; }
  .max_vmv #missao {
    height: 300px;
    display: flex;
    flex: auto;
    background-image: url("../img/missao.png");
    background-size: cover;
    background-position: center; }
    .max_vmv #missao h3 {
      font-size: 28px;
      color: #fff;
      text-align: center;
      font-weight: 500;
      margin-top: 60px; }
    .max_vmv #missao p {
      font-size: 24px;
      color: #37f256;
      text-align: center;
      margin-top: 40px;
      text-transform: uppercase; }
    .max_vmv #missao .max_vmv_logo {
      width: 70px;
      height: 35px;
      margin-top: 20px;
      margin-left: 190px; }
  .max_vmv #valores {
    height: 300px;
    display: flex;
    flex: auto;
    background-image: url("../img/valores.png");
    background-size: cover;
    background-position: center; }
    .max_vmv #valores h3 {
      font-size: 28px;
      color: #fff;
      text-align: center;
      font-weight: 500;
      margin-top: 60px; }
    .max_vmv #valores p {
      font-size: 24px;
      color: #37f256;
      text-align: center;
      margin-top: 40px;
      text-transform: uppercase; }
    .max_vmv #valores .max_vmv_logo {
      width: 70px;
      height: 35px;
      margin-top: 20px;
      margin-left: 190px; }

/*  ARÉA DO ALUNO
*/
.max_alunos {
  width: 100%;
  height: 600px;
  background-image: url("../img/bg-aluno.png");
  background-size: cover; }
  .max_alunos h2 {
    font-size: 28px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin-top: 60px; }
  .max_alunos .max_aluno-texto {
    font-size: 28px;
    color: #000;
    text-align: center;
    margin-top: 90px; }
  .max_alunos i {
    color: #fff;
    font-style: normal; }
  .max_alunos img {
    padding: 30px 0 0 0; }

.max_btn-white {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  width: 200px;
  margin-top: 48px;
  margin-left: 140px;
  transition: all ease-in-out 0.5s; }

.max_btn-white:hover {
  background-color: #00b51e;
  border: 2px solid #000;
  color: #000; }

.max_btn-black {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  width: 200px;
  margin-top: 30px;
  margin-left: 140px;
  transition: all ease-in-out 0.5s; }

.max_btn-black:hover {
  background-color: #00b51e;
  border: 2px solid #fff;
  color: #fff; }

.max_app img {
  border: solid 2px #000;
  padding: 10px;
  margin: 10px 0 10px 0;
  transition: all ease-in-out 0.4s; }

.max_app img:hover {
  border: solid 2px #fff;
  background-color: #fff; }

/*
*   MODALIDADES MAX
*/
.max_modalidades {
  width: 100%;
  height: 1700px;
  background-image: url("../img/bg-modalidades.png");
  background-size: cover; }
  .max_modalidades i {
    color: #fff;
    font-style: normal; }
  .max_modalidades h2 {
    margin-top: 60px;
    font-size: 28px;
    color: #00b51e;
    text-align: center;
    font-weight: 500; }
  .max_modalidades p {
    font-weight: 500;
    font-size: 24px;
    color: #00b51e;
    text-align: center;
    margin-top: 80px;
    text-transform: uppercase; }
  .max_modalidades .max_modalidades-boxs {
    width: 100%;
    height: 300px;
    margin: 40px 0 40px 0; }
    .max_modalidades .max_modalidades-boxs .img-background {
      background-size: cover;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0; }
      .max_modalidades .max_modalidades-boxs .img-background img {
        width: 100%; }
      .max_modalidades .max_modalidades-boxs .img-background figcaption {
        width: 100%;
        height: 300px;
        margin-top: -300px; }
        .max_modalidades .max_modalidades-boxs .img-background figcaption h3 {
          font-size: 28px;
          font-weight: 500;
          color: #fff;
          text-align: center;
          margin-top: 40px;
          text-transform: uppercase; }
        .max_modalidades .max_modalidades-boxs .img-background figcaption p {
          font-size: 24px;
          text-align: center;
          color: #000;
          text-transform: uppercase;
          width: 480px;
          margin: 40px 240px 0 240px; }

/*
*   PLANOS MAX
*/
.max_planos {
  width: 100%;
  height: 600px;
  background-image: url("../img/bg-planos.png");
  background-position: center;
  background-size: cover; }
  .max_planos h2 {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin-top: 60px;
    color: #fff; }
  .max_planos .max_planos-lista {
    list-style: none;
    margin-left: 30px; }
    .max_planos .max_planos-lista .plano {
      height: 400px;
      margin-top: 80px; }
      .max_planos .max_planos-lista .plano h3 {
        color: #fff;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 24pt;
        margin-top: 40px; }
      .max_planos .max_planos-lista .plano .content .num {
        font-weight: 500;
        color: #fff;
        font-size: 72pt;
        margin-left: 100px; }
      .max_planos .max_planos-lista .plano .content .text {
        color: #fff;
        font-size: 13pt;
        text-align: center;
        text-transform: uppercase;
        margin-top: -20px; }
      .max_planos .max_planos-lista .plano .content .list {
        color: #fff;
        font-size: 15pt;
        text-align: justify;
        margin-left: 60px;
        margin-top: 30px; }
      .max_planos .max_planos-lista .plano .planos-btn {
        margin: 40px 60px 0 60px;
        width: 150px;
        border: solid 2px #fff;
        background: transparent;
        color: #fff;
        padding: 10px 5px;
        transition: all ease-in-out 0.4s; }
      .max_planos .max_planos-lista .plano .planos-btn:hover {
        cursor: pointer;
        background: #00b51e; }
    .max_planos .max_planos-lista #cross-max {
      background-image: url("../img/planos-cross-max.png");
      background-position: center;
      background-size: cover; }
    .max_planos .max_planos-lista #compartilhado {
      background-image: url("../img/planos-profissional-compartilhado.png");
      background-position: center;
      background-size: cover; }
    .max_planos .max_planos-lista #premium {
      background-image: url("../img/planos-premium.png");
      background-position: center;
      background-size: cover; }

/*
*   CONTATO
*/
.max_contato {
  width: 100%;
  height: 600px;
  background-image: url("../img/bg-contato.png");
  background-size: cover;
  background-position: center; }
  .max_contato h2 {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    margin-top: 60px;
    text-transform: uppercase; }
  .max_contato p {
    margin-top: 40px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase; }
  .max_contato i {
    color: #00b51e;
    font-style: normal; }
  .max_contato .max-formulario {
    width: 100%;
    margin-top: 70px; }
    .max_contato .max-formulario label {
      color: #fff;
      font-size: 18px; }
    .max_contato .max-formulario input {
      width: 100%;
      margin: 10px 0 10px 0;
      background-color: transparent;
      border: solid 2px #00b51e;
      color: #fff;
      font-size: 18px;
      text-align: center;
      font-family: 'Unica One'; }
    .max_contato .max-formulario ::-webkit-input-placeholder {
      color: #00b51e; }
    .max_contato .max-formulario textarea {
      width: 335px;
      height: 100px;
      margin: 0 0 10px 0;
      background-color: transparent;
      border: solid 2px #00b51e;
      color: #fff;
      font-size: 18px;
      text-align: center;
      font-family: 'Unica One'; }
    .max_contato .max-formulario button {
      width: 100%;
      background-color: transparent;
      border: solid 2px #00b51e;
      color: #fff;
      font-size: 18px;
      font-family: 'Unica One';
      cursor: pointer;
      transition: all ease-in-out 0.4s;
      padding: 5px; }
    .max_contato .max-formulario button:hover {
      background-color: #00b51e; }
  .max_contato .redes-sociais {
    width: 100%;
    margin-top: 70px; }
    .max_contato .redes-sociais h3 {
      font-size: 16pt;
      font-weight: 500;
      color: #fff;
      text-align: left;
      border-bottom: solid 2px #fff; }
    .max_contato .redes-sociais ul {
      margin-top: 20px; }
      .max_contato .redes-sociais ul li {
        display: inline-block;
        margin-right: 20px; }
  .max_contato .funcionamento {
    width: 100%;
    margin-top: 20px; }
    .max_contato .funcionamento h3 {
      color: #Fff;
      font-size: 16pt;
      font-weight: 500;
      text-align: left;
      border-bottom: solid 2px #fff; }
    .max_contato .funcionamento p {
      font-size: 15pt;
      margin-top: 5px;
      text-align: left;
      color: #00b51e; }
      .max_contato .funcionamento p span {
        color: #fff; }
  .max_contato .contato {
    width: 100%;
    margin-top: 70px; }
    .max_contato .contato h3 {
      color: #fff;
      font-size: 16pt;
      font-weight: 500;
      text-align: left;
      border-bottom: solid 2px #fff; }
    .max_contato .contato p {
      font-size: 13pt;
      text-align: left;
      margin-top: 10px;
      color: #00b51e; }
  .max_contato .nossa-casa {
    width: 100%;
    margin-top: 20px; }
    .max_contato .nossa-casa h3 {
      color: #fff;
      font-size: 16pt;
      font-weight: 500;
      text-align: left;
      border-bottom: solid 2px #fff; }
    .max_contato .nossa-casa p {
      font-size: 15pt;
      color: #00b51e;
      text-align: left;
      margin-top: 10px; }
