/*
    Maxtraining

    author: Matheuspsantos
    links: https://githhub.com/matheuspsantos

    2018-2019
*/

@charset "UTF-8";
/*
    Imports
    Importando o Reset.css e o Grid.css para trabalhar o reset da página e o grid
*/
@import 'reset.scss';
@import 'grid.scss';

/*
    Configurção de fontes
*/
@font-face {
    font-family: "Unica One";
    font-style: normal;
    src: local('Unica One'),
        url("../fonts/Unica_One/UnicaOne-Regular.ttf") format("ttf");
}
/*
    Estilização geral
*/
body {
    font-family: Unica One;
}

p {
    font-family: Unica One, sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

/*
*   Estilização da Página Web
*   Os comentários irão separar as seções
*/

// ----- Variáveis ----------
// tamanhos de fontes
$font-size-titulo-1: 28px;
$font-size-titulo-2: 24px;
$font-size-texto: 18px;

// cores
$verde-1: #00b51e;
$verde-2: #37f256;
$verde-3: #e3f2e6;
// ---------------------------

// ----- Mixins --------------
@mixin text-destacado {
    i {
        color: $verde-1;
        font-style: normal;
    }
}

@mixin text-destacado-inverso {
    i {
        color: #fff;
        font-style: normal;
    }
}
// mixin para a estilização do logo na parte vmv
@mixin vmv-logo {
    .max_vmv_logo {
        width: 70px;
        height: 35px;
        margin-top: 20px;
        margin-left:190px;
    }    
}

/*  Cabeçalho HEADER
*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 5px 0;
    transition: all ease-in-out 0.4s;
    // atribuições para o logo
    img {
        margin-top: 20px;
    }
    #label-menu, #label-menu-out {
        margin: 0 40px 0 0;
        font-size: 26px;
        line-height: 70px;
        width: 30px;
        float: right;
        display: none;
        cursor: pointer;
    }
    

    // menu com os links no header
    .header_menu {
        text-align: right;

        ul{
            // atribuições para a lista dentro do menu
            margin-top: 60px;
            li{
                clear: right;
                display: inline-block;
                margin: 0 5px;
            }
            li{
                a{
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: $font-size-titulo-2;
                }
                a:hover {
                    color: $verde-1;
                }
            }
        }
        
    }

    #toggle {
        display: none;
    }
}

.smallheader {
    //background-color: #00b51ebb;
    //background: #37f256b6;
    background: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    position: fixed;
    transition: all ease-in-out 0.4s;
    overflow:initial;
    z-index: 1;

    img {
        margin: 10px 0 0 20px;
    }
    #label-menu, #label-menu-out {
        display: none;
    }
    #toggle{
        display: none;
    }

    .header_menu {
        text-align: right;
        ul {
            margin-top: 10px;
            li {
                clear: right;
                display: inline-block;
                margin: 0 5px;
                a {
                    color: #000;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: $font-size-texto;
                }
                a:hover {
                    color: $verde-1;
                }

            }
        }
    }
}

/*  INTRODUÇÃO DO SITE
*/
.max_inicio {
    //valores da classe inicio
    width: 100%;
    height: 700px;
    background-image: url("../img/bg-inicio.png");
    background-size: cover;
    text-align: center;

    // atribuições para o texto dentro da seção
    @include text-destacado;
    #max_inicio_texto {
        margin-top: 340px;
    }
    #max_hashtag {
        width: 150px;
        margin-left: 405px;
        top: 30px;
        p {
            text-align: center;   
            font-size: 16px;
            font-family: sans-serif;
            text-transform: uppercase;
            padding: 5px 2px;
            border: 2px solid $verde-1;
            transition: all ease-in-out 0.3s;

            a {
                text-decoration: none;
                color: #fff;
            }
        }
        p:hover {
            background-color: $verde-1;
            border: 2px solid #fff;
        }
    }
    h2 {
        font-size: $font-size-titulo-1;
        font-weight: 500;
        color: #fff;
        margin: 10px;
    }
    p {
        margin: 10px;
        font-size: $font-size-titulo-2;
        color: #fff;
    }
}

/* SOBRE
*/
.max_sobre {
    // valores para a classe max_sobre
    width: 100%;
    height: 600px;
    background-image: url("../img/bg-sobre.png");
    background-size: cover;

    // atributos do texto dentro da seção
    @include text-destacado;
    #max_sobre_texto {
        margin-top: 50px;
        text-align: center;
        h2 {
            font-size: $font-size-titulo-1;
            font-weight: 500;
            color: #fff;
            margin: 10px;
        }
    }

    // caixas com detalhes da Max
    #max_sobre_boxes {
        margin-top: 120px;
        color: $verde-1;
        font-size: $font-size-texto;
        text-align: center;
        padding-left: 20px;

        .sobre_boxes {
            border: solid 5px $verde-2;
            height: 300px;
            margin: 5px;
            background-color: rgba(0,0,0, 0.4);

            img {
                margin-left: 90px;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            p {
                font-size: 24px;
                margin-top: 20px;
            }

            .box_texto {
                font-size: $font-size-texto;
                margin-top: 20px;
                color: #fff;
            }
        }
    }
}


/*
    MISSÃO, VISÃO, VALORES
*/
.max_vmv {
    width: 100%;
    height: 900px;
    background-color: black;



    #visao {
        height: 300px;
        display: flex;
        flex: auto;
        background-image: url("../img/visao.png");
        background-size: cover;
        background-position: center;
        
        h3 {
            font-size: $font-size-titulo-1;
            color: #fff;
            text-align: center;
            font-weight: 500;
            margin-top: 60px;
        }
        p {
            font-size: 24px;
            color: $verde-2;
            text-align: center;
            margin-top: 40px;
            text-transform: uppercase;
        }
        
        @include vmv-logo;
    }

    #missao {
        height: 300px;
        display: flex;
        flex: auto;
        background-image: url("../img/missao.png");
        background-size: cover;
        background-position: center;
        
        h3 {
            font-size: $font-size-titulo-1;
            color: #fff;
            text-align: center;
            font-weight: 500;
            margin-top: 60px;
        }
        p {
            font-size: 24px;
            color: $verde-2;
            text-align: center;
            margin-top: 40px;
            text-transform: uppercase;
        }
        
        @include vmv-logo;
    }

    #valores {
        height: 300px;
        display: flex;
        flex: auto;
        background-image: url("../img/valores.png");
        background-size: cover;
        background-position: center;


        h3 {
            font-size: $font-size-titulo-1;
            color: #fff;
            text-align: center;
            font-weight: 500;
            margin-top: 60px;
        }
        p {
            font-size: 24px;
            color: $verde-2;
            text-align: center;
            margin-top: 40px;
            text-transform: uppercase;
        }
        @include vmv-logo;
    }
    
}


/*  ARÉA DO ALUNO
*/
.max_alunos {
    width: 100%;
    height: 600px;
    background-image: url("../img/bg-aluno.png");
    background-size: cover;

    h2 {
        font-size: $font-size-titulo-1;
        color: #fff;
        text-align: center;
        font-weight: 500;
        margin-top: 60px;
    }

    .max_aluno-texto {
        font-size: $font-size-titulo-1;
        color: #000;
        text-align: center;
        margin-top: 90px;
    }
    @include text-destacado-inverso;
    img {
        padding: 30px 0 0 0;
    }


}

// botão
.max_btn-white {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    width: 200px;
    margin-top: 48px;
    margin-left: 140px;
    transition: all ease-in-out 0.5s;
}

.max_btn-white:hover {
    background-color: $verde-1;
    border: 2px solid #000;
    color: #000;
}

.max_btn-black {
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    width: 200px;
    margin-top: 30px;
    margin-left: 140px;
    transition: all ease-in-out 0.5s;
}

.max_btn-black:hover {
    background-color: $verde-1;
    border: 2px solid #fff;
    color: #fff;
}

// lista com os icones do app
.max_app {
    margin: 10px 0 0 0;
    background: $verde-1;
    color: #fff;
    box-shadow: 2px 4px 4px rgba(0,0,0, 0.5);
    padding: 15px 20px 5px 20px;
    border: none;
}


/*
*   MODALIDADES MAX
*/

.max_modalidades {
    width: 100%;
    height: 1700px;
    background-image: url("../img/bg-modalidades.png");
    background-size: cover;
    
    @include text-destacado-inverso;

    h2 {
        margin-top: 60px;
        font-size: $font-size-titulo-1;
        color: $verde-1;
        text-align: center;
        font-weight: 500;
    }

    p {
        font-weight: 500;
        font-size: $font-size-titulo-2;
        color: $verde-1;
        text-align: center;
        margin-top: 80px;
        text-transform: uppercase;
    }

    .max_modalidades-boxs {
        width: 100%;
        height: 300px;
        margin: 40px 0 40px 0;

        .img-background {
            background-size: cover;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;

            img {
                width: 100%;
            }

            figcaption {
                width: 100%;
                height: 300px;
                margin-top: -300px;

                h3 {
                    font-size: $font-size-titulo-1;
                    font-weight: 500;
                    color: #fff;
                    text-align: center;
                    margin-top: 40px;
                    text-transform: uppercase;
                }

                p {
                    font-size: $font-size-titulo-2;
                    text-align: center;
                    color: #000;
                    text-transform: uppercase;
                    width: 480px;
                    margin: 40px 240px 0 240px;
                }
            }
        }

    }
}

/*
*   PLANOS MAX
*/
.max_planos {
    width: 100%;
    height: 600px;
    background-image: url("../img/bg-planos.png");
    background-position: center;
    background-size: cover;

    h2 {
        font-size: $font-size-titulo-1;
        font-weight: 500;
        text-align: center;
        margin-top: 60px;
        color: #fff;
    }

    .max_planos-lista {
        list-style: none;
        margin-left: 30px;

        .plano {
            height: 400px;
            margin-top: 80px;
            
            h3 {
                color: #fff;
                text-align: center;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 24pt;
                margin-top: 40px;
            }

            .content {

                .num {
                    font-weight: 500;
                    color: #fff;
                    font-size: 72pt;
                    margin-left: 100px;
                }
                .text {
                    color: #fff;
                    font-size: 13pt;
                    text-align: center;
                    text-transform: uppercase;
                    margin-top: -20px;
                }
                .list {
                    color: #fff;
                    font-size: 15pt;
                    text-align: justify;
                    margin-left: 60px;
                    margin-top: 30px;
                    
                }
            }
            .planos-btn {
                margin: 40px 60px 0 60px;
                width: 150px;
                border: solid 2px #fff;
                background: transparent;
                color: #fff;
                padding: 10px 5px;
                transition: all ease-in-out 0.4s;
            }
            .planos-btn:hover {
                cursor: pointer;
                background: $verde-1;
            }
        }

        #cross-max {
            background-image: url("../img/planos-cross-max.png");
            background-position: center;
            background-size: cover;
        }
        #compartilhado {
            background-image: url("../img/planos-profissional-compartilhado.png");
            background-position: center;
            background-size: cover;
        }
        #premium {
            background-image: url("../img/planos-premium.png");
            background-position: center;
            background-size: cover;
        }          
    }
}

/*
*   CONTATO
*/
.max_contato {
    width: 100%;
    height: 600px;
    background-image: url("../img/bg-contato.png");
    background-size: cover;
    background-position: center;

    h2 {
        font-size: $font-size-titulo-1;
        font-weight: 500;
        text-align: center;
        color: #fff;
        margin-top: 60px;
        text-transform: uppercase;
    }

    p {
        margin-top: 40px;
        font-size: $font-size-titulo-2;
        color: #fff;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
    }

    @include text-destacado;

    .max-formulario {
        width: 100%;
        margin-top: 70px;
        label {
            color: #fff;
            font-size: $font-size-texto;
        }
        input {
            width: 100%;
            margin: 10px 0 10px 0;
            background-color: transparent;
            border: solid 2px $verde-1;
            color: #fff;
            font-size: $font-size-texto;
            text-align: center;
            font-family: 'Unica One';
        }
        ::-webkit-input-placeholder {
            color: $verde-1;    
        }
        textarea{
            width: 335px;
            height: 100px;
            margin: 0 0 10px 0;            
            background-color: transparent;
            border: solid 2px $verde-1;
            color: #fff;
            font-size: $font-size-texto;
            text-align: center;
            font-family: 'Unica One';
        }
        button {
            width: 100%;
            background-color: transparent;
            border: solid 2px $verde-1;
            color: #fff;
            font-size: $font-size-texto;
            font-family: 'Unica One';
            cursor: pointer;
            transition: all ease-in-out 0.4s;            
            padding: 5px;
        }

        button:hover {
            background-color: $verde-1;
        }
    }
    #gambi {
        margin-top: 70px;
    }
    .redes-sociais {
        width: 100%;
        margin-top: 70px;
        margin-left: 120px;
        h3 {
            font-size: 16pt;
            font-weight: 500;
            color: #fff;
            text-align: left;
            border-bottom: solid 2px #fff;
        }
        ul {
            margin-top: 20px;

            li {
                display: inline-block;
                margin-right: 20px;
            }
        }
    }

    .funcionamento {
        width: 100%;
        margin-top: 20px;
        margin-left: 120px;

        h3 {
            color:#Fff;
            font-size: 16pt;
            font-weight: 500;
            text-align: left;
            border-bottom: solid 2px #fff;
        }
        p {
            font-size: 15pt;
            margin-top: 5px;
            text-align: left;
            color: $verde-1;

            span {color: #fff;}
        }
    }

    .contato {
        width: 100%;
        margin-top: 70px;
        margin-left: 180px;

        h3 {
            color: #fff;
            font-size: 16pt;
            font-weight: 500;
            text-align: left;
            border-bottom: solid 2px #fff;
        }
        p{
            font-size: 13pt;
            text-align: left;
            margin-top: 10px;
            color: $verde-1;
        }
    }

    .nossa-casa {
        width: 100%;
        margin-top: 20px;
        margin-left: 180px;        
        h3 {
            color: #fff;
            font-size: 16pt;
            font-weight: 500;
            text-align: left;
            border-bottom: solid 2px #fff;
        }

        p {
            font-size: 15pt;
            color: $verde-1;
            text-align: left;
            margin-top: 10px;
        }
    }
    
}

/*
*   Rodapé
*/
.max_footer {
    width: 100%;
    height: 50px;
    background-color: $verde-2;
    h4 {
        font-weight: 500;
        font-size: 16pt;
        text-align: left;
        margin-top: 20px;
    }
}
/*
*   Responsividade
*/
/*
*   responsividade do site
*/

/* tela menor que 960 e maior que 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    // cabecalho
    .header {
        .header_menu {
            text-align: left;
            ul {
                margin-top: 60px;
                li {
                    clear: right;
                    display: inline-block;
                    margin: 10px;
                    a {
                        font-size: $font-size-texto;
                    }
                }
            }
        }
    }

    // introdução do site
    .max_inicio {
        #max_hashtag {
            margin-left: 309px;
        }
    }

    // sobre
    .max_sobre {
        #max_sobre_boxes {
            padding: 0;
            margin: 120px 0 0 0;

            .sobre_boxes {
                border: solid 3px $verde-2;
                margin: 0 1px 0;

                img {
                    margin: 20px 70px 20px 70px;
                }
            }
        }
    }

    // missão, visão, valores
    .max_vmv {
        #visao {
            margin-left: -230px;
            background-position: left;
            h3 {
                text-align: left;
            }
            p {
                text-align: left;

            }
        }
        #missao {
            background-position: right;
            h3 {
                text-align: right;
            }
            p{
                text-align: right;
            }
        }
        #valores{
            margin-left: -230px;
            background-position: left;
            h3 {
                text-align: left;
            }
            p{
                text-align: left;
            }
        }
    }

    // área do aluno
    .max_alunos {

        .max_aluno-texto {
            font-size: $font-size-titulo-2;
            text-align: center;
        }
        
        img {
            padding: 0;
        }
    }
    // botao
    .max_btn-white {
        margin-left: 88px;
    }
    .max_btn-black {
        margin-top: 60px;
        margin-left: 112px;
    }
    //lista com icones do app
    .max_app {
        margin: 20px 0 0 0;
        color: #fff;
        background: $verde-1;
        border: none;
        box-shadow: 2px 4px 4px rgba(0,0,0, 0.5);
        padding: 15px 20px 5px 20px;
    }

    // modalidades max
    .max_modalidades {
        .max_modalidades-boxs {
            .img-background {
                figcaption {
                    margin-top: -250px;
                    height: auto;   
                    p {
                        width: 100%;
                        margin: 40px 0 0 0;
                    }
                }
            }
        }
    }

    // planos max
    .max_planos {
        margin-left: 0;
        .plano {
            margin: 80px 2px 2px 0;

            .content {
                .num {
                    margin-left: -100px;
                }
            }
        }
        .planos-btn {
            margin-left: 25px;
        }
    }
    
    // contato
    .max_contato {
        p {
            text-align: center;
        }

        .max-formulario {
            
            textarea {
                width: 100%;
            }
        }
        .redes-sociais {
            margin-left: 0;
        }
        .funcionamento {
            margin-left: 0;
        }
        .contato {
            margin-left: 0;
        }
        .nossa-casa {
            margin-left: 0;
        }
    }

}

/* Tela menor que 768px */
@media only screen and (max-width: 767px) {
    // cabecalho
    .header {
        height: 80px;
        padding: 0;

        img {
            margin: 10px 0 10px 30px;
            width: 80px;
            height: 80px;
            display: flex;
        }
        #label-menu {
            display: block;
            margin-top: -80px;
            color: #fff;
            padding: 5px;
        }
        #label-menu-out {
            display: none;
            margin-top: -80px;
            color: #fff;
            font-weight: 700;
            padding: 5px;
        }
    
        .header_menu {
            text-align: left;
            width: 767px;    
            display: block;
            position: relative;
            height: 700px;
            background: $verde-2;
            top: 0px;
            transform: translateX(200%);
            //transition: transform ease-in-out 0.7s;  
            ul {
                margin-top: -35px;
                li {
                    padding: 0 0 5px 30px;
                    margin: 15px 0 15px 30px;
                    border-left: solid 2px #000;
                    border-bottom: solid 2px #000;
                    display: block;
                    a {
                        color: #fff;
                        font-family: 'Unica One';
                        font-weight: 500;
                    }
                }
            }

        }

        #toggle:checked ~ .header_menu {
            display: block;
            transform: translateX(0%);
            transition: transform ease-in-out 0.4s;
        }
        #toggle:checked ~ #label-menu {
            display: none;
        }
        #toggle:checked ~ #label-menu-out {  
            display: block;
        }
    }
    // menu small
    .smallheader {
        //background-color: #00b51ebb;
        //background: #37f256b6;
        background: rgb(255, 255, 255);
        height: 50px;
        width: 100%;
        position: fixed;
        //transition: all ease-in-out 0.4s;
        overflow:initial;
        z-index: 1;
    
        img {
            margin: 10px 0 0 20px;
        }
        #label-menu, #label-menu-out {
            display: block;
            color: black;
            font-size: 18pt;
            margin: -30px 0 0 220px;
        }
        #label-menu-out {
            display: none;
        }
        #toggle{
            display: none;
        }
    
        .header-menu-toggle {
            text-align: right;
            display: none;
            transform: translateX(200%);
            //transition: transform ease-in-out 0.5s;
            ul {
                background: #fff;
                margin-top: -30px;
                padding: 0;
                width: 100%;
                height: 800px;
                li {
                    clear: right;
                    display: list-item;
                    text-align: center;
                    margin: 20px 2px 0 0;

                    a {
                        color: #000;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: $font-size-texto;
                    }
                    
                    a:hover {
                        color: $verde-1;
                    }
    
                }
            }
        }

        #toggle:checked ~ .header-menu-toggle {
            display: block;
            transform: translateX(0%);
            transition: transform ease-in-out 0.4s;
        }
        #toggle:checked ~ #label-menu {
            display: none;
        }
        #toggle:checked ~ #label-menu-out {
            display: block;
        }
    }
        
    //introdução
    .max_inicio {
        height: 600px;
        background-position: left;

        #max_inicio_texto {
            margin-top: 200px;
        }
        #max_hashtag {
            margin-left: 75px;

            p:hover {
                background-color: $verde-1;
                border: 2px solid #fff;
            }
        }
    }

    // sobre
    .max_sobre {
        background-position: 50% 1%;
        height: auto;   
        #max_sobre_texto {
            margin: 60px 0 20px 0;
        }
        #max_sobre_boxes {
            width: 100%;
            display: inline-block;
            padding: 0;
            margin: 80px 0 0 0;

            .sobre_boxes {
                border: none;
                width: 280px;
                height: 450px;
                margin: 10px 0;
                background-color: rgba(0,0,0, 0.4);

                img {
                    margin: 10px 0 10px 90px;
                }
                p {
                    margin: 0;
                }
                .box_texto {
                    border-bottom: 2px solid $verde-2;
                    background-color: rgba(0,0,0, 0.7);
                    height: 60px;
                    padding: 20px 0;
                }
            }
        }
    }

    // visao valores missao
    .max_vmv {
        width: 100%;
        #visao {
            background-position: left;
            .max_vmv_logo {
                width: 70px;
                height: 35px;
                margin-left: 115px;
            }
        }
        #missao {
            background-position: right;
            .max_vmv_logo {
                width: 70px;
                height: 35px;
                margin-left: 115px;
            }
        }
        #valores {
            background-position: 30%;
            .max_vmv_logo {
                width: 70px;
                height: 35px;
                margin-left: 115px;
            }
        }
    }

    // area do aluno

    .max_alunos {
        height: auto;
        background-position: 50% 20%;
        display: inline-block;
        padding: 0 0 20px 0;
        .max_aluno-texto {
            text-align: center;
            margin: 90px 0 20px 0;
        }
        img {
            width: 100%;
        }
        .max_btn-white {
            display: inline-block;
            background-color: transparent;
            border: 2px solid #fff;
            color: #fff;
            text-decoration: none;
            text-align: center;
            font-weight: 500;
            width: 200px;
            margin: 50px 0 0 50px;
            padding: 5px 0;
            cursor: pointer;
            transition: all ease-in-out 0.5s;
        }
        .max_btn-white::hover {
            background-color: $verde-1;
            border: 2px solid #000;
            color: #000;            
        }

        .max_btn-black {
            display: inline-block;
            font-weight: 500;
            width: 200px;
            padding: 5px 0;
            margin: 30px 0 0 50px;
            transition:  all ease-in-out 0.7s;
        }

        .max_app {
            margin: 20px 0 0 0;
            width: 100%;
            background: $verde-1;
            color: #fff;
            border: none;
            box-shadow: 2px 4px 4px rgba(0,0,0, 0.5);
            padding: 10px 0 0 0;
        }
    }

    // modalidades
    .max_modalidades {
        width: 100%;
        height: auto;

        .max_modalidades-boxs {
            width: 300px;
            height: auto;

            .img-background {
                background-size: cover;
                width: 100%;
                height: auto;
                img {
                    display: inline-block;
                }

                figcaption {
                    width: 100%;
                    height: auto;
                    margin-top: -110px;

                    p {
                        width: 300px;
                        height: auto;
                        margin: 40px 0 0 0;
                        color: #fff;
                        font-size: 15pt;
                        border-bottom: 2px solid $verde-2;
                    }
                }
            }
        }
    }

    // planos
    .max_planos {
        width: 100%;
        height: auto;

        .max_planos-lista {
            margin: 20px 0 0 0;
            .plano {
                height: 100%;
                margin: 0;
                
                .content {
                    border: solid 2px #fff;
                    background: rgba(0,0,0, 0.7);
                    
                }
                .planos-btn {
                    margin: 5px 0 5px 0;
                    width: 100%;
                }

            }
        }
    }

    // contato
    .max_contato {
        width: 100%;
        height: auto;
        display: inline-block;
        padding: 0 0 20px 0;

        h2 {
            margin: 60px 0 60px 0;
        }

        .max-formulario {
            width: 300px;
            margin: 40px 0 0px 0;

            label {
                width: 200px;
                margin: 10px 0 10px 50px;
            }
            input {
                width: 300px;
                margin: 10px 0 10px 0;
            }
            textarea {
                width: 295px;
                margin: 10px 0 10px 0;
            }
        }

        .redes_sociais {
            margin: 70px 0 0 0;
        }
        .funcionamento {
            margin: 20px 0 0 0;
        }
        .contato {
            margin: 20px 0 0 0;
        }
        .nossa-casa {
            margin: 20px 0 0 0;
        }
    }

    // rodapé
    .max_footer{
        width: 100%;
        height: auto;
        background-color: #000;
        padding: 5px;
        h4 {
            text-align: center;
            margin: 5px;
            color:#fff;
            font-size: 14pt;
        }
    }

}